div.fixed-action-btn.horizontal.click-to-toggle#nav
  a.btn-floating.btn-large.teal
    i.material-icons menu
  ul
    li: a.btn-floating.teal(href='/'): i.material-icons home
    li: a.btn-floating.teal(href='/upload.html'): i.material-icons file_upload
    li: a.btn-floating.teal(href='/search.html'): i.material-icons search
    li: a.btn-floating.teal(href='/account.html'): i.material-icons person
