div.fixed-action-btn.toolbar#nav
	a.btn-floating.btn-large.nav-main-color
		i.large.material-icons menu
	ul
		li.waves-effect.waves-light.nav-link-divider
			a.btn-floating(href='/') Home
		li.waves-effect.waves-light.nav-link-divider
			a.btn-floating(href='/upload.html') Upload Images
		li.waves-effect.waves-light.nav-link-divider
			a.btn-floating(href='/search.html') Search
		li.waves-effect.waves-light
			a.btn-floating(href='/account.html') Account
