$background-color: #F3FFCF;

#header {
	height: 100%;
	background-color: $background-color;
}

#head-register {
	background-color: $background-color;
}

#home {
	height: 250px;
}

.text {
	color: #697060;
}

.message {
	padding-left: 10px;
}

.center-block {
	width: 500px;
}

#nav {
	top: 15px;
}