html
head
	- var title = 'Home'
	include ./templates/head.pug

body
	main#header.valign-wrapper
		h6.center-align #[a(href="login.html") Log In] | #[a(href="login.html") Register ] | #[a(href="login.html") More Info]
		div.col.s12.m12.l12.center-block
			div.valign
				h1.center-align PICTUREBOX
				h3.center-align All your pictures in one central place.
	include ./templates/scripts.pug