html
head
	- var title = 'Home'
	include ./templates/head.pug

body
	main#header.valign-wrapper
		h6.center-align #[a(href="login.html") Log In] | #[a(href="register.html") Register ]
		div.col.s12.m12.l12.center-block
			div.valign
				h1.center-align PICTUREBOX
				h4.center-align All your pictures in one central place.
				h4.center-align Organized and easy to search.

	include ./templates/scripts.pug