html
head
	- var title = 'Log Out'
	include ./templates/head.pug

body
	main
		div.row.nomargin-bottom
			div#head-login.col.s12.m12.l12.valign-wrapper
				div.valign.center-block 
					h1#logout-message Goodbye!

	include ./templates/scripts.pug