html
head
	- var title = 'Register'
	include ./templates/head.pug

body
	main
		div.row.nomargin-bottom
			div#head-register.col.s12.m12.l12.valign-wrapper
				div.valign.center-block
						form
							h3.center-align.form-title Register
							div.row
								div.message
							div.row
								div.input-field.col.s12.m12.l12
									input(type="text" id="username" class="validate" required)
									label Username
							
							div.row
								div.input-field.col.s12.m6.l6
									input(type="password" id="password" class="validate" required)
									label Password

								div.input-field.col.s12.m6.l6
									input(type="password" id="confirm_password" class="validate" required)
									label Confirm Password

							div.row
								div.input-field.col.s12.m12.l12
									input(type="email" id="email" class="validate" required)
									label E-mail address

							div.row.center-align
								button#register.form-button.btn.waves-effect.waves-light Register Account
							div.row
								p.center Already got an account? #[a#login-url(href="/login.html") Click here] to log in.

	include ./templates/scripts.pug
			