html
head
	- var title = 'Home'
	include ./templates/head.pug

body
	main#search
		include ./templates/nav.pug
		div#head.row.nomargin-bottom.valign-wrapper
			div#searchbar.col.s12.m12.l12
				div.section.valign
					form#formData.center-block(onkeypress="return event.keyCode != 13;")
						div.row
							div.input-field
								input(type="text" id="search-input" placeholder="Type to search..." autocomplete="off")
								label Search your archive

				div.row#columns
	
	include ./templates/scripts.pug
			