html
head
	- var title = 'Home'
	include ./templates/head.pug

body
	main
		include ./templates/nav.pug
		div.row.nomargin-bottom
			div#head.col.s12.m12.l12.valign-wrapper
				div.section.valign.center-block
					form#formData(enctype="multipart/form-data")
						div.row
							div.file-field.input-field
								div.btn.btn-color
									span Pick Files
									input(type="file" name="files" multiple)
								div.file-path-wrapper
									input.file-path.validate(type="text", placeholder="Upload one or more files")

						div.row
							button#upload.btn.waves-effect.waves-light.right.form-button Upload files





	include ./templates/scripts.pug
			